.wrap:hover .hoverContainer {
	/*transform: scale(1.05);*/
}

.hoverContainer {
	transform-origin: 50%;
	transition: transform 0.35s;
	pointer-events: none;
}

.selected {
	pointer-events: none;
}

.label {
	fill: white;
	stroke-width: 0;
	font-size: 5px;
	line-height: 24px;
	text-anchor: middle;
	pointer-events: none;
	user-select: none;
}
