html, body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.player {
	position: absolute;
	transition-property: top, left, transform;
	transition-duration: 0.1s;
}

.miniCanvas {
	position: absolute;
	pointer-events: none;
}
.mainCanvas {
	position: absolute;
	width: 100%;
	height: 100%;
}
